:root{
    font-size: 70%;
}
.form{
    background: linear-gradient(var(--color-primary-lighter) 30%,var(--color-line-in-white) 30%) no-repeat;
    width: 100%;
    height: 100vh;
}
.form-info{
    margin: -70px auto;
    width: 70rem;
    padding: 40px;
}
.container{
    display: flex;
    flex-direction: column;
}
.menu{
    margin: 10px 10vh;
}
.btn-back > img{
    width: 5rem;
}
.logo{
    width:  5rem;
    float: right;
}
.text{
    width: 65rem;
    margin: 30px auto;
}
.text h2{
    color: #fff;
    font-size: 2rem;
}
.input{
    border-radius: 5px;
    width: 13rem;
    display: flex;
    height: 4rem;
    font-size: 1.4rem;
    padding: 0 10px;
    color: var(--color-text-complement);
    margin: 20px 0;
    background: #fff;
    border: 1px solid var(--color-text-complement);
}
.select{
    cursor: pointer;
}
.inline{
    display: inline;
    margin: 25px 2px;
}
.materias{
    display: inline-flex;
    margin: 90px auto;
}
.teachers{
    margin: 0 auto;
}
h3{
    position: absolute;
    display: inline-flex;
    font-size: 1.4rem;
    color: #fff;
}
.content{
    font-size: 1.5rem;
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    color: var(--color-text-complement);
}
.inputs{
    height: auto;
    text-align: center;
}
.professor{
    margin: auto;
    background: #ffffff;
    width: 70rem;
    border-radius: 5px 5px 0 0 ;
    padding: 40px;
}
.professor p{
    font-size: 1.5rem;
    color: var(--color-text-complement);
}
h4{
    font-size: 1.1rem;
    margin: 10px 0;
    color: var(--color-text-complement);
}
h6{
    font-size: 1.3rem;
    font-weight: none;
    color: var(--color-text-complement);
}
b{
    color: var(--color-primary-darker);
}
.btn{
    display: flex;
    border-radius: 5px;
    background: var(--color-secondary);
    align-items: center;
    width: 15rem;
    height: 3rem;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    margin-left: 550px;
}
.btn img{
    margin-right: 5px;
}
.btn:hover{
    background: var(--color-secondary-dark);
}
.card{
    display: flex;
    flex-direction: column;
    background: var(--color-background);
    width: 865px;
    height: auto;
    margin: 30px auto;
}
.price{
    border-top: 1px solid var(--color-line-in-white);
    padding: 0 20px;
    height: 100px;
    display: flex;
    align-items: center;
}
input[type = "time"]
{
    cursor: text;
}
.btn--green{
    display: inline-flex;
    border-radius: 5px;
    background: var(--color-secondary);
    align-items: center;
    width: 13rem;
    justify-content: center;
    border: none;
    height: 4rem;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
.btn--green:hover{
    background: var(--color-secondary-dark);
}