body{
    width: 100%;
    height: 100%;
}
.form{
    background: linear-gradient(var(--color-primary-lighter) 30%,var(--color-line-in-white) 30%) no-repeat;
}
.container{
    display: flex;
    flex-direction: column;
}
.menu{
    margin: 10px 10vh;
}
.btn-back > img{
    width: 5rem;
}
.logo{
    width:  5rem;
    float: right;
}
.text{
    width: 70rem;
    margin: 30px auto;
}
.text h2{
    color: #fff;
    font-size: 2rem;
}
.text p{
    color: var(--color-text-in-primary);
    margin-top: 20px;
    font-size: 1.3rem;
}
.form-info{
    margin: 0px auto;
    background: #ffffff;
    width: 70rem;
    border-radius: 5px 5px 0 0;
    padding: 40px;
}
.form-info h2{
    font-size: 2rem;
    margin: 20px 0;
    width: 98%;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-text-complement);
}
.form-info h3{
    font-size: 1.5rem;
    color: var(--color-text-complement);
}
.box{
    width: 90%;
    margin: 0 auto;
    height: 90%;
}
.input{
    border-radius: 5px;
    width: 90%;
    display: flex;
    height: 4rem;
    font-size: 1.5rem;
    padding: 0 10px;
    color: var(--color-text-complement);
    margin: 20px 0px;   
    background: var(--color-line-in-white);
    border: 1px solid var(--color-text-complement);
}
.select-input{
    border-radius: 5px;
    width: 100%;
    display: flex;
    height: 4rem;
    font-size: 1.5rem;
    padding: 0 10px;
    color: var(--color-text-complement);
    margin: 20px 10px;
    background: var(--color-line-in-white);
    border: 1px solid var(--color-text-complement);
}
.textarea{
    resize: vertical;
    padding: 10px;
    min-height: 100px;
    max-height: 100px;
}
.select{
    width: 95%;
    cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}
h4{
    font-size: 2rem;
    margin: 20px 0;
    padding-bottom: 20px;
    display: inline;
}
.btn-add{
    display: inline;
    background: transparent;
    border: none;
    color: var(--color-primary-darker);
    font-weight: bold;
    float: right;
    margin-right: 5px;
    padding: 3px;
    cursor: pointer;
    transition: 0.3s background;
}
.btn-add:hover{
    background: #916bea6c;
}
.hours{
    width: 100%;
    border-bottom:  1px solid var(--color-text-complement);
}
.schedule{
    height: 100px;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 20px;
    justify-content: center;
    box-sizing: border-box;
    display: flexbox;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    background: var(--color-background);
    width: 755px;
    height: auto;
    margin: 30px auto;
    border-radius: 5px;
}
.inline{
    display: inline;
    margin: 0 10px;
}
.schedule p{
    font-size: 1.3rem;
    display: flex;
    width: auto;
    align-items: center;
}
.warning{
    height: 100px;
    margin-top: 0px;
    padding: 20px;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.warning p{
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}
.warning p>img{
    align-items: center;
}
.btn{
    display: flex;
    border-radius: 5px;
    background: var(--color-secondary);
    align-items: center;
    width: 30rem;
    margin-right: 5px;
    justify-content: center;
    border: none;
    height: 4.2rem;
    margin-left: 500px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
.btn:hover{
    background: var(--color-secondary-dark);
}
.horario{
    display: flex;
    min-width: 100%;
    margin: 50px 0;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}